.addtoback{
    border: solid 1px;
    background-color: aqua;
    border-radius: 7px;
    padding: 10px 15px
}
.wish{
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.sale{
    border: solid 1px;
    background-color: aqua;
    border-radius: 7px;
    padding: 10px 15px
}